langchain
langchain-community
faiss-cpu
pypdf
python-dotenv
tiktoken
langchain-groq 
sentence-transformers

pdfplumber
pandas

langchain-huggingface



transformers
torch
accelerate
huggingface-hub
numpy

fastapi
uvicorn